# ROS 2
build/
install/
log/
node_modules/
venv/
# External ROS packages cloned from locally
src/sllidar_ros2
src/micro_ROS_Agent
src/micro_ros_msgs

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git/

# security
.ssh
.env
secrets.yaml
